.ipynb_checkpoints/
.DS_Store

data/
.venv/
.vscode/
.ipynb_checkpoints/


target/

ConsoleApp1.slnx

# Don't lock all specifics, just the main dependencies in pyproject.toml
uv.lock

__pycache__/
*.so
